@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --bg_1: rgba(196, 196, 196, 0.3);
  --bg_3: rgba(206, 202, 202, 1);
  --text_gray: rgba(206, 202, 202, 1);
  --text_white: #FFF;
  --dot_dark: rgba(84, 84, 84, 0.6);
  --dot-light: #CECACA;


}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.94rem;
  color: rgba(0, 0, 0, 0.8);
}
h1, p {
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  padding: 10px 14px;
  max-width: 850px;
  width: 100%;
  min-height: 1050px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
}
.left-col {
  margin-right: 6px;
  width: 400px;
  background: var(--bg_1);
  color: var(--text_white);
  border-radius: 10px;
}
.left-col__section {
  padding: 7px 14px;
  background: var(--bg_1);
  border-radius: 10px;
  margin-bottom: 15px;
}
.right-col {
  width: 450px;
  background: var(--text_white);
  border-radius: 10px;
}
.left-col__wrapper {
  padding: 0 18px;
}
.header {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
}
.header__avatar img{
  width: 105px;
  height: 110px;
  border-radius: 50%;
}
.header__title {
  margin-left: 22px;
  padding-top: 5px;
}
.header__title .lname {
  font-size: 1.56rem;
  line-height: 30px;
  color: var(--text_gray);
}
.header__title .fname  {
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 43px;
  color: var(--text_white);
}
.header__title .position {
  font-weight: bold;
  line-height: 18px;
  font-size: 0.94rem;
}
.contacts__section {
  padding-bottom: 10px;
}
.contact__item {
  margin-bottom: 5px;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  background: var(--bg_1);
  border-radius: 10px;
}
.contact-icon {
  margin-right: 15px;
}
.contact__item p{
  line-height: 18px;
}
/* --------------------------------------------------- */
.profile__section p{
  text-indent: 15px;
  text-align: justify;
}
.title{
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  line-height: 18px;
  color: var(--text_white)
}
/* --------------------------------------------------- */

.language__item {
  display: flex;
  align-items: center;
}
.language__item p {
  padding-right: 5px;
}
.bar {
  display: flex;
}
.progress, .dot {
  margin-right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.progress {
  background-color: var(--dot-light);
}
.dot {
  background-color: var(--dot_dark)
}
/* --------------------------------------------------- */
.social__link a {
  text-decoration: none;
  color: var(--text_white);
}